{% extends 'base.html' %}
<html>

    <head>
        {% block title %}{{ blogpost.title }}{% endblock title %}

        <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">


        <style>



        </style>

    </head>

{% block content %}
    <body>
    {% block posttitle %}
        <h1 class='post-title '>{{ blogpost.title }}</h1>
    {% endblock %}
    {% block post %}
        <div id="post">
            <p class='post-body'>{{ blogpost.text_body }}</p>
        </div>
    {% endblock %}
        <div>
            
        </div>

    </body>
{% endblock %}

</html>